---
import Card from "@components/Card.astro";
import LinkList from "@components/LinkList.astro";
import Layout from "@layouts/Layout.astro";
import { getHome, getMeta } from "@lib/getData";
import { getLangFromUrl } from "@lib/i18n";

const lang = getLangFromUrl(Astro.url);
const { fields: home } = await getHome(lang);
const { fields: meta } = await getMeta(lang);
---

<Layout title={meta.ogTitle}>
  <main class="max-w-2xl mx-auto p-8">
    <div class="mt-12 flex justify-between flex-col">
      <h1 class="font-semibold text-2xl tracking-[0.2px]">
        {home.title}
      </h1>
      <div class="mt-5 mb-24 text-gray-800 flex flex-col gap-1">
        <p class="tracking-[0.1px]">
          <Fragment set:html={home.description.split("\n").join("<br/>")} />
        </p>
      </div>
      <Card
        imageSource={home.image?.fields.file?.url as string}
        caption={home.downloadText}
      />
    </div>
    <div class="grid grid-cols-2 gap-x-4 gap-y-16 mt-20">
      {
        home.linkLists.map((l) => (
          <LinkList
            title={l?.fields.title || ""}
            links={l?.fields.links || []}
          />
        ))
      }
    </div>
    <div class="h-28 w-full"></div>
  </main>
</Layout>
